.about-section {
    padding: 3vw 0vw; /* cek dan samakan dengan page lainnya */
}

.about-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2vw;
    border: 0.3vw solid #ff6a00;
    border-radius: 1vw; /* cek dan samakan dengan page lainnya */
    background-color: #1f2833;
    text-align: left;
}

.about-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

    .about-logo img {
        max-width: 70%;
        width: 40%;
        height: auto;
        border-radius: 2rem;
    }

.about-title {
    color: #ff6a00;
    text-align: center;
    /* font-size: 2rem; */
    font-size: 3vw;
    margin-bottom: 15px;
}

.about-text {
    text-align: left;
    /* font-size: 1rem; */
    font-size: 1.5vw;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.about-list li {
    padding: 8px 0;
    border-bottom: 0.1vw solid #ff6a00;
    list-style: circle;
    margin-left: 1vw;
    /* font-size: 1vw; */
}

.about-list li:last-child {
    border-bottom: none;
}

hr {
    height: 0.3vw;
    border: none;
    background: #cb5500;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

@media (max-width: 760px) {

    #text2, #text3 {
        display: none;
    }

    .about-container{
        max-width: unset;
    }

    .about-section{
        padding: unset;
    }

    .about-container {
        padding: 20px;
    }

    .about-title {
        font-size: 1.8rem;
    }

    .about-text {
        font-size: 0.95rem;
    }

    .about-logo img {

        width: 70%;
        height: auto;
    }

    /* .about-list li {
        font-size: 1vw;
    } */
}

@media (min-width: 768px) and (max-width: 1023px) {
    
    .about-logo img {

        width: 50%;
        height: auto;
    }

    .about-title {
        font-size: 4vw;
    }

    .about-text{
        font-size: 2vw;
    }
}

@media ((min-width: 1400px) and (max-width: 2550px)) {
    .about-logo img{
        width: 35%;
    }
}

@media (min-width: 2550px) {
    .about-container {
        max-width: 90%;
    }

    .about-logo img {
        width: 30%;
    }
    
}
