  /* CONTACT US FORM */
  
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 0vw;
}

.contact-container {
  flex: 1 1 calc(33.333% - 20px); 
  box-sizing: border-box;
  max-width: 90vw;
  margin: 0 auto ;
  padding: 2vw;
  border: 0.3vw solid #ff6a00;
  border-radius: 1vw;
  background-color: #1f2833;
}


.contact-title {
  color: #ff6a00;
  text-align: center;
  font-size: 4vw;
  margin-bottom: 10px;
}

.contact-container h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ff6a00;
  font-size: 2rem;
  margin-bottom: 15px;
  
}

.contact-container h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.contact-container p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5vw;
  margin-bottom: 15px;
}

.contact-container ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin: 20px 0 0;
  font-size: 1rem;
  margin-bottom: 15px;
}

.contact-container ul li {
  padding: 8px 0;
  border-bottom: 1px solid #ff6a00;
  list-style: none;
  text-align: center;
  color: #a0a0a0;
}

.contact-container ul b {
  color: azure;
  font-size: 1.5rem;
}

.contact-container ul li:last-child {
  border-bottom: none;
}

.form-group{
margin-bottom: 1rem;
font-size: 1rem;

}

.form-group input, textarea{
width: 100%;
padding: 1vw;
border: 1px solid #ccc;
border-radius: 5px;
align-content: center;
font-size: 1.5vw;
margin-bottom: 15px;
}

.input-error {
border: 1px solid red;
}

.submit{
background-color: #cb5500;
color: white;
padding: 0.8rem 5rem;
border-radius: 25px;
display: block;
font-weight: bold;
text-decoration: none;
margin: 0 auto;
align-items: center;
font-size: 1rem;
margin-bottom: 15px;
}

hr {
  height: 2px;
  border: none;
  background: #cb5500;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .contact {
      width: 100%;
    }

    .contact-container{
      max-width: unset;
    }

  .contact-title{
    color: #ff6a00;
    text-align: center;
    font-size: 4vw;
    margin-bottom: 10px;
  }
  
  .contact-container h2 {
    font-size: 1.8rem;
  }
  
  .contact-container h3 {
    font-size: 1rem;
  }
  
  .contact-container p {
    font-size: 0.95rem;
  }
  
  .contact-container ul {
    font-size: 0.8rem;
  }
  
  .contact-container ul b {
    font-size: 1rem;
  }

  .form-group{
    font-size: 0.95rem;
    }
    
  .form-group input, textarea{
  font-size: 0.95rem;
  }
  
  .submit{
  font-size: 0.95rem;
  margin-bottom: 15px;
  }
}


/*dektop L*/
@media ((min-width: 1400px) and (max-width: 2550px)) {
  .contact-container h2{
    font-size: 2.5vw;
  }

  .contact-container ul {
    font-size: 1.2rem;
  }

  .form-group{
    font-size: 1.5vw;
    
    }

  .submit{
    font-size: 1.5vw;
  }
  
}


@media (min-width: 2550px) {
  .contact-container {
      max-width: 90vw;
      margin: 0 auto;
  }

  .form-group{
    font-size: 1.5vw;
  }

  .submit{
    font-size: 1.5vw;
  }

  .contact-container h2{
    font-size: 3vw;
  }

  .contact-container h3{
    font-size: 1.5vw;
  }

  .contact-container ul b {
    font-size: 2vw;
  }

  .contact-container ul {
    font-size: 1.5vw;
  }

  
}
